<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="article">
    <meta name="author" content="Stary">

    <title>Blog Article - Article</title>

    <link rel="stylesheet" href="../JqueryUI/jquery-ui.css" >

    <!-- CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="../Bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="../JqueryUI/jquery-ui.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../stylesheets/post.css" rel="stylesheet">

</head>

<body ng-app="articleApp">

    <div ng-include="'./navigatorTemplate.html'"></div>

    <!-- Page Content -->
    <div class="container" ng-controller="articleContentCtrl">
        <a class="btn btn-info" href="./home.html"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        <div class="row">

            <div class="col-lg-8">
                <h1>{{ title }}</h1>

                <p class="lead">
                    by <a href="#">{{ author }}</a>
                </p>

                <hr>

                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ date }}</p>

                <hr>

                <div ng-bind-html="trustHtml"></div>

                <hr>

                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" ng-model="CommentContent"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="submitComment()">Submit</button>
                        <label class="label-danger">{{ tips }}</label>
                    </form>
                </div>

                <hr>

                <div ng-repeat="comment in commentsList">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../images/github.jpg" style="width: 50px;height: 60px;" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ comment['author'] }}
                                <small>{{ comment['date'] }}</small>
                                <small><a ng-if="commentCanEdit(comment['author']) && !comment['hide']" ng-click="editComment(comment['commentId'])">Edit</a></small>
                                <small><a ng-if="commentCanDelete(comment['author']) && !comment['hide']" ng-click="deleteComment(comment['commentId'])">Delete</a></small>
                                <small><a ng-if="commentCanHide(comment['author']) && !comment['hide']" ng-click="hideComment(comment['commentId'])">Hide</a></small>
                            </h4>
                            <h4 class="media-bottom" ng-if="!comment['hide']">
                                {{ comment['content'] }}
                            </h4>
                            <h4 class="media-bottom" ng-if="comment['hide']">
                                This comment has been hided.
                            </h4>
                        </div>
                    </div>

                    <hr />

                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Are You Sure?</h4>
                            </div>
                            <div class="modal-body">
                                If you delete the comment, you will have no way to find it back!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-danger" type="button" ng-click="commitDelete()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Edit your comment!</h4>
                            </div>
                            <div class="modal-body">
                                <form class="jumbotron">
                                    <div class="input-group">
                                        <span class="input-group-addon">Comment </span>
                                        <input type="text" class="form-control" placeholder="Comment" ng-model="message" required>
                                        <label class="label-danger" ng-if="editFail">{{ editMsg }}</label>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-success" type="submit" ng-click="saveEditedComment()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-include="'./widgetTemplate.html'"></div>
        </div>

        <hr>

        <div ng-include="'./footerTemplate.html'"></div>

    </div>

    <!-- JS -->
    <!-- Angular -->
    <script type="text/javascript" src="../Angular/angular.js"></script>

    <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular-sanitize.min.js"></script>

    <!-- jQuery -->
    <script src="../javascripts/jquery.js"></script>

    <script src="../JqueryUI/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../Bootstrap/bootstrap.min.js"></script>

    <!-- Custom Js -->
    <script type="text/javascript" src="../javascripts/cookies.js"></script>

    <script type="text/javascript" src="../javascripts/article.js"></script>

    <script type="text/javascript" src="../javascripts/navigator.js"></script>

    <script type="text/javascript" src="../javascripts/widgetTemplate.js"></script>
</body>

</html>
