<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Home page">
    <meta name="author" content="Stary">

    <title>Blog Home - Stary's blog.</title>

    <script type="text/javascript" src="../javascripts/Angular.js"></script>

    <script type="text/javascript" src="../javascripts/Cookies.js"></script>

    <script type="text/javascript" src="../javascripts/home.js"></script>

    <script type="text/javascript" src="../javascripts/navigator.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="../JqueryUI/jquery-ui.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="../stylesheets/blog-home.css" rel="stylesheet">

</head>

<body ng-app="homeApp">

    <div ng-include="'./navigatorTemplate.html'"></div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8" ng-controller="homeArticlesListCtrl">

                <h1 class="page-header">
                    Welcome, {{ userInfo }}!
                </h1>

                <div ng-repeat="article in articlesList">
                    <!-- First Blog Post -->
                    <h2>
                        <a href="./article.html?id={{ article['id'] }}">{{ article['title'] }}</a>
                        <small>{{ article['catalog'] }}</small>
                    </h2>
                    <p class="lead">
                        by <a href="">{{ article['author'] }}</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> {{ article['date'] }}</p>
                    <a class="btn btn-primary" href="./article.html?id={{ article['id'] }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a class="btn btn-danger" ng-click="deleteArticle(article['id'])" ng-if="canDeleteArticle(article['author'])">Delete <span class="glyphicon glyphicon-alert"></span></a>
                    <hr />
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Are You Sure?</h4>
                                </div>
                                <div class="modal-body">
                                    If you delete the article, you will have no way to find it back!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button class="btn btn-danger" type="button" ng-click="commitDelete()">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav>
                    <ul class="pagination" ng-repeat="each in page">
                        <li class="{{ each['class'] }}"><a ng-click="turnTo(each['index'])">{{ each['index'] }}</a></li>
                    </ul>
                </nav>

            </div>

            <div ng-include="'./widgetTemplate.html'">
                <script src="../javascripts/widgetTemplate.js"></script>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <div ng-include="'./footerTemplate.html'"></div>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../javascripts/jquery.js"></script>

    <script src="../JqueryUI/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/bootstrap.min.js"></script>

    <script>
    </script>
</body>

</html>
