<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="article">
        <meta name="author" content="Stary">

        <title>Blog Article - Article</title>

        <!-- CSS -->
        <link href="../JqueryUI/jquery-ui.css" rel="stylesheet">

        <!-- Bootstrap Core CSS -->
        <link href="../Bootstrap/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../stylesheets/signIn.css" rel="stylesheet">

    </head>

    <body ng-app="registerApp">

        <div ng-include="'./navigatorTemplate.html'"></div>

        <div class="container">
            <div class="row">
                <div name="register" class="log-in-form jumbotron">
                    <h1>Register</h1>
                    <div id="signInWrong" class="alert alert-danger" role="alert">
                        <strong>Warning</strong>
                        <p id="wrongInfo"></p>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input id="username" type="text" class="form-control" placeholder="Username" required title='Username should be made of 6 - 18 character, number or underline and starts with character.'>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password" required title="Password should be 6 - 12 number, character, hyphen or underline.">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input id="repeatPassword" name="repeatPassword" type="password" class="form-control" placeholder="repeat your password" required>
                    </div>

                    <button class="btn btn-group btn-success" id="submitRegisterBtn">Submit</button>

                    <button class="btn btn-group btn-danger" id="cancelBtn">Cancel</button>

                </div>
            </div>
        </div>

        <!-- JS -->
        <script type="text/javascript" src="../Angular/angular.js"></script>

        <!-- jQuery -->
        <script type="text/javascript" src="../javascripts/jquery.js"></script>

        <script type="text/javascript" src="../JqueryUI/jquery-ui.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../Bootstrap/bootstrap.min.js"></script>

        <!-- Custom Javascript -->
        <script src="../javascripts/cookies.js"></script>

        <script src="../javascripts/md5.js"></script>

        <script src="../javascripts/register.js"></script>

        <script src="../javascripts/navigator.js"></script>

    </body>
</html>