<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="article">
        <meta name="author" content="Stary">

        <title>Blog Article - Article</title>

        <!-- CSS -->
        <!-- Bootstrap Core CSS -->
        <link href="../Bootstrap/bootstrap.min.css" rel="stylesheet">

        <link href="../stylesheets/signIn.css" rel="stylesheet">
    </head>

    <body ng-app="signInApp">

        <div ng-include="'./navigatorTemplate.html'"></div>

        <div class="container" ng-controller="signInCtrl" ng-init="signInWrong=false">
            <div class="row">
                <div class="log-in-form jumbotron">
                    <h1>Sign In</h1>
                    <div ng-if="signInWrong" class="alert alert-danger" role="alert">
                        <strong>Warning</strong>
                        <p>{{ wrongInfo }}</p>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Username" ng-model="username" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input id="password" type="password" class="form-control" placeholder="Password" ng-model="password" required>
                    </div>

                    <button class="btn btn-group btn-success" ng-click="logIn()">Sign In</button>

                    <button class="btn btn-group btn-info" ng-click="register()">Register</button>

                </div>
            </div>
        </div>

        <!-- JS -->
        <!-- Angular -->
        <script type="text/javascript" src="../Angular/angular.js"></script>

        <!-- Jquery -->

        <script type="text/javascript" src="../javascripts/jquery.js"></script>

        <script type="text/javascript" src="../JqueryUI/jquery-ui.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../Bootstrap/bootstrap.min.js"></script>

        <!-- Custom Javascript -->
        <script src="../javascripts/cookies.js"></script>

        <script src="../javascripts/md5.js"></script>

        <script src="../javascripts/signIn.js"></script>

        <script src="../javascripts/navigator.js"></script>
    </body>
</html>