//
   Created by yanzexin on 12/01/2017.
   All right reserved. 6:13 PM

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='description', content='article')
        meta(name='author', content='Stary')
        title Blog Article - Article
        script(type='text/javascript', src='../javascripts/Angular.js')
        script(src='http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular-sanitize.min.js')
        script(type='text/javascript', src='../javascripts/article.js')
        // Bootstrap Core CSS
        link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='../JqueryUI/jquery-ui.css', rel='stylesheet')
        // Custom CSS
        link(href='../stylesheets/blog-post.css', rel='stylesheet')
    body(ng-app='articleApp')
        div(ng-include="'./navigatorTemplate.html'")
        // Page Content
        .container(ng-controller='articleContentCtrl')
            a.btn.btn-info(href='./home.html')
                span.glyphicon.glyphicon-arrow-left
                |  Back
            a.btn.btn-warning Edit
            .row
                // Blog Post Content Column
                .col-lg-8
                    // Blog Post
                    // Title
                    h1 {{ title }}
                    // Author
                    p.lead
                        | by
                        a(href='#') {{ author }}
                    hr
                    // Date/Time
                    p
                        span.glyphicon.glyphicon-time
                        |  Posted on {{ date }}
                    hr
                    // Post Content
                    div(ng-bind-html='trustHtml')
                    hr
                    // Blog Comments
                    // Comments Form
                    // Posted Comments
                    .well
                        h4 Leave a Comment:
                        form(role='form')
                            .form-group
                                input.form-control(placeholder='Your Name', ng-model='CommentAuthor')
                            .form-group
                                textarea.form-control(rows='3', ng-model='CommentContent')
                            button.btn.btn-primary(type='submit', ng-click='submitComment()') Submit
                    hr
                    // Comment
                    div(ng-repeat='comment in commentsList')
                        .media
                            a.pull-left(href='#')
                                img.media-object(src='../images/github.jpg', style='width: 50px;height: 60px;', alt='')
                            .media-body
                                h4.media-heading
                                    | {{ comment['author'] }}
                                    small {{ comment['date'] }}
                                    small
                                        a Edit
                                    small
                                        a Delete
                                    small
                                        a Hide
                                |                                 {{ comment['content'] }}
                        hr
                div(ng-include="'./widgetTemplate.html'")
                    script(src='../javascripts/widgetTemplate.js')
            // /.row
            hr
            div(ng-include="'./footerTemplate.html'")
        // /.container
        // jQuery
        script(src='../javascripts/jquery.js')
        script(src='../JqueryUI/jquery-ui.js')
        // Bootstrap Core JavaScript
        script(src='../javascripts/bootstrap.min.js')
