//
   Created by yanzexin on 22/12/2016.
   All right reserved. 9:37 PM

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Error
        link(href='../stylesheets/error.css', rel='stylesheet')
    body
        .error
        h1 Something is wrong.
        a#btn.btn.btn-medium.btn-green.btn-radius(href='../views/home.html') Home
        script(src='../javascripts/jquery.js', rel='text/javascript')
