//
   Created by yanzexin on 12/01/2017.
   All right reserved. 6:12 PM

doctype html
html(lang='en', xmlns='http://www.w3.org/1999/html')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='description', content='Home page')
        meta(name='author', content='Stary')
        title Blog Home - Stary's blog.
        script(type='text/javascript', src='../javascripts/Angular.js')
        script(type='text/javascript', src='../javascripts/home.js')
        // Bootstrap Core CSS
        link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='../JqueryUI/jquery-ui.css', rel='stylesheet')
        // Custom CSS
        link(href='../stylesheets/blog-home.css', rel='stylesheet')
    body(ng-app='homeApp')
        div(ng-include="'./navigatorTemplate.html'")
        // Page Content
        .container
            .row
                // Blog Entries Column
                .col-md-8(ng-controller='homeArticlesListCtrl')
                    h1.page-header
                        | Articles
                    div(ng-repeat='article in articlesList')
                        // First Blog Post
                        h2
                            a(href="./article.html?id={{ article['id'] }}") {{ article['title'] }}
                            small {{ article['catalog'] }}
                        p.lead
                            | by
                            a(href='') {{ article['author'] }}
                        p
                            span.glyphicon.glyphicon-time
                            |  {{ article['date'] }}
                        a.btn.btn-primary(href="./article.html?id={{ article['id'] }}")
                            | Read More
                            span.glyphicon.glyphicon-chevron-right
                        a.btn.btn-danger(ng-click="deleteArticle(article['id'])")
                            | Delete
                            span.glyphicon.glyphicon-alert
                        hr
                        // Modal
                        #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal')
                                            span(aria-hidden='true') ×
                                            span.sr-only Close
                                        h4#myModalLabel.modal-title Are You Sure?
                                    .modal-body
                                        | If you delete the article, you will have no way to find it back!
                                    .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                                        button.btn.btn-danger(type='button', ng-click='commitDelete()') Delete
                    nav
                        ul.pagination(ng-repeat='each in page')
                            li.(class="{{ each['class'] }}")
a(ng-click="turnTo(each['index'])") {{ each['index'] }}
div(ng-include="'./widgetTemplate.html'")
    script(src='../javascripts/widgetTemplate.js')
// /.row
hr
div(ng-include="'./footerTemplate.html'")
// /.container
// jQuery
script(src='../javascripts/jquery.js')
script(src='../JqueryUI/jquery-ui.js')
// Bootstrap Core JavaScript
script(src='../javascripts/bootstrap.min.js')
script.
