//
   Created by yanzexin on 12/01/2017.
   All right reserved. 6:12 PM

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='description', content='article')
        meta(name='author', content='Stary')
        title Blog Article - Article
        // jQuery
        script(src='../javascripts/jquery.js')
        script(src='../JqueryUI/jquery-ui.js')
        script(src='../javascripts/md5.js')
        script(src='../javascripts/register.js')
        // Bootstrap Core JavaScript
        script(src='../javascripts/bootstrap.min.js')
        // Bootstrap Core CSS
        link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='../JqueryUI/jquery-ui.css', rel='stylesheet')
        link(href='../stylesheets/logIn.css', rel='stylesheet')
    body
        // Navigation
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='./home.html') Stary's Blog
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='home.html') Home
                // /.navbar-collapse
            // /.container
        .container
            .row
                .log-in-form.jumbotron(name='register')
                    h1 Register
                    #signInWrong.alert.alert-danger(role='alert')
                        strong Warning
                        p#wrongInfo
                    .input-group
                        span.input-group-addon @
                        input#username.form-control(type='text', placeholder='Username', required='', title='Username should be made of 6 - 18 character, number or underline and starts with character.')
                    .input-group
                        span.input-group-addon @
                        input#password.form-control(name='password', type='password', placeholder='Password', required='', title='Password should be 6 - 12 number, character, hyphen or underline.')
                    .input-group
                        span.input-group-addon @
                        input#repeatPassword.form-control(type='password', placeholder='repeat your password', required='')
                    button#submitRegisterBtn.btn.btn-group.btn-success Submit
                    button#cancelBtn.btn.btn-group.btn-danger Cancel
