//
   Created by yanzexin on 12/01/2017.
   All right reserved. 6:11 PM

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='description', content='article')
        meta(name='author', content='Stary')
        title Blog Article - Article
        script(src='../javascripts/Angular.js')
        script(src='../javascripts/md5.js')
        script(src='../javascripts/signIn.js')
        // jQuery
        script(src='../javascripts/jquery.js')
        // Bootstrap Core JavaScript
        script(src='../javascripts/bootstrap.min.js')
        // Bootstrap Core CSS
        link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='../stylesheets/logIn.css', rel='stylesheet')
    body(ng-app='signInApp')
        // Navigation
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='./home.html') Stary's Blog
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='home.html') Home
                // /.navbar-collapse
            // /.container
        .container(ng-controller='signInCtrl', ng-init='signInWrong=false')
            .row
                .log-in-form.jumbotron
                    h1 Sign In
                    .alert.alert-danger(ng-if='signInWrong', role='alert')
                        strong Warning
                        p {{ wrongInfo }}
                    .input-group
                        span.input-group-addon @
                        input.form-control(type='text', placeholder='Username', ng-model='username', required='')
                    .input-group
                        span.input-group-addon @
                        input#password.form-control(type='password', placeholder='Password', ng-model='password', required='')
                    button.btn.btn-group.btn-success(ng-click='logIn()') Sign In
                    button.btn.btn-group.btn-info(ng-click='register()') Register
